/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Radley', serif;
    background-color: #090708;
    color: #fff;
    overflow-x: hidden;
}

/* Barra de desplazamiento personalizada */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #f68dc5;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff006f;
}

